body{
  margin: 0;
  padding: 0;
  text-align: center;
}

.form-contact{
  width: 50%;
  margin: auto;
  padding: 1rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input{
  width: 75%;
  padding: 0.5rem;
  border-radius: 16px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 5px black;
}
input[type="submit"]{
  width: fit-content;
  padding: 1rem;
  cursor: pointer;
}